<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>v-for</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	</head>
	<body>
		<ul id="example-2">
			<li v-for="(item, index) in items">
				{{ parentMessage }} - {{ index }} - {{ item.message }}
			</li>
		</ul>

		<div id="app-5">
			<p v-for="(item,index) in items" style="color: aqua;">
				<button type="button" @click="doxx(item,index,$event)" v-bind:id="'button-'+index">删除{{index}}</button>

			</p>
		</div>
		<!-- 作业:编写一个编辑表格,实现增删功能 -->
		<div id="homework" style="width: 600px; position: relative;left: 50%;border: 2px solid brown;margin-left: -300px;padding: 5px;text-align: center;">
			<div id="newStudent" style="width: 100%;padding-top: 12px;">
				<input type="text" name="name" v-model="newStudent.name" />
				<br>
				<input type="text" name="age" v-model="newStudent.age" />
				<br>
				<select v-model="newStudent.sex">
					<option value="male">男</option>
					<option value="female">女</option>
					<option value="x">未知</option>
				</select>
				<br>
				<input type="button" value="新增" @click="addNewStudent" />
				<br>
				<hr>
				<br>
				<table border="1">
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>年龄</th>
						<th>性别</th>
						<th>操作</th>
					</tr>
					<tr v-for="(item,index) in students">
						<td>{{index+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.age}}</td>
						<td v-if="item.sex == 'male'">男</td>
						<td v-else="item.sex == 'famale'">女</td>
						<td v-else="item.sex == 'x'">未知</td>
						<td>
							<input type="button" value="删除" @click="delNewStudent(item,index,$event)" />
						</td>
					</tr>
				</table>
			</div>
		</div>

	</body>
</html>
<script type="text/javascript">
	var app5 = new Vue({
		el: '#app-5',
		data: {
			items: [{
				name: 'liang',
				age: 18
			}, {
				name: 'li',
				age: 23
			}]
		},
		methods: {
			doxx: function(item, index, event) {
				this.items.splice(index, 1);
			}
		}
	})

	var example2 = new Vue({
		el: '#example-2',
		data: {
			parentMessage: 'Parent',
			items: [{
					message: 'Foo'
				},
				{
					message: 'Bar'
				}
			]
		}
	})

	var tableEdit = new Vue({
		el: "#homework",
		data: {
			newStudent: {
				name: '',
				age: '',
				sex: 'male'

			},
			students: [{
					name: '刘德华',
					age: '60',
					sex: 'male'
				},
				{
					name: '迪丽热巴',
					age: '25',
					sex: 'famale'
				},
				{
					name: '周杰伦',
					age: '45',
					sex: 'male'
				},
				{
					name: '罗志祥',
					age: '45',
					sex: 'male'
				}
			]

		},
		methods: {
			addNewStudent: function() {
				console.info(this.newStudent);
				var newOne = this.newStudent;
				if (!newOne.name || !newOne.age) {
					alert("信息不完整");
					return;
				}
				this.students.push(newOne);
				this.newStudent = {
					name: '',
					age: '',
					sex: 'male'

				}
			},
			delNewStudent:function(item, index, event){
				this.students.splice(index, 1);
			}
		}
	});
</script>
