<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	</head>
	<body>
		<div id="exchange">
			请选择币种:
			<select style="width: 120px;">
				<option value="RMB" selected="selected">人民币</option>
				<option value="RMB">日元</option>
				<option value="RMB">美元</option>
				<option value="RMB">欧元</option>
			</select>
			<div>请输入币值:</div>
			<input type="text" name="" id="" value="" v-model="rmb" />
			<div>日元(0.0655):{{rmb / 0.0655}}</div><br>
			<div>美元(7.0693):{{rmb / 7.0693}}</div><br>
			<div>欧元(7.8257):{{rmb / 7.8257}}</div><br>
		</div>

		<br>
		<hr>
		<br>
		<p>计算属性的computed</p>
		<div id="example">
			请选择币种:
			<select style="width: 120px;" v-model="select001">
				<option value="RMB" selected="selected">人民币</option>
				<option value="Yen">日元</option>
				<option value="USD">美元</option>
				<option value="Euro">欧元</option>
			</select>
			<input type="text" v-model="stranStander" />
			<p>人民币: "{{ showMoney('RMB') }}"</p>
			<p>日元: "{{ showMoney("Yen") }}"</p>
			<p>欧元: "{{ showMoney("Euro") }}"</p>
			<p>美元: "{{ showMoney("USD") }}"</p>


			<p>绑定函数的返回值:{{ showSomthing() }}</p>
		</div>

	</body>
</html>
<script type="text/javascript">
	var vm = new Vue({
		el: '#example',
		data: {
			stranStander: 0,
			select001: "USD"
		},
		computed: {
			// 计算属性的 getter
			Yen: function() {
				// `this` 指向 vm 实例
				// 必须要有return值
				// return this.message.split('').reverse().join('')
				return parseFloat(this.yuan) / 0.0655
			},
			Euro: function() {
				return parseFloat(this.yuan) / 7.8257
			},
			USD: function() {
				return parseFloat(this.yuan) / 7.0693
			},
			RMB: function() {
				return parseFloat(this.yuan) / 1
			},
			yuan: function() {
				var kind = this.select001;
				var sttander = this.stranStander;
				switch (kind) {
					case "USD":
						{
							return sttander * 7.0693;
						}
					case "Yen":
						{
							return sttander * 0.0655;
						}
					case "Euro":
						{
							return sttander * 7.8257;
						}
					case "RMB":
						{
							return sttander * 1;
						}
					default:
						{
							return 0;
						}
				}
			}
		},

		methods: {
			showSomthing: function() {
				return "嘿嘿"
			},
			showMoney:function( xxx ){
				var kind = this.select001;
				var sttander = this.stranStander;
				var rmbTrans = 0;
				switch (kind) {
					case "USD":
						{
							rmbTrans = sttander * 7.0693;
							break;
						}
					case "Yen":
						{
							rmbTrans = sttander * 0.0655;
							break;
						}
					case "Euro":
						{
							rmbTrans = sttander * 7.8257;
							break;
						}
					case "RMB":
						{
							rmbTrans = sttander * 1;
							break;
						}
					default:
						{
							rmbTrans = 0;
							break;
						}
				}
				if(xxx == "USD"){
					return parseFloat(rmbTrans) / 7.0693
				}
				if(xxx == "RMB"){
					return parseFloat(rmbTrans) / 1
				}
				if(xxx == "Euro"){
					return parseFloat(rmbTrans) / 7.8257
				}
				if(xxx == "Yen"){
					return parseFloat(rmbTrans) / 0.0655
				}
			}
		}
	})

	var app = new Vue({
		el: '#exchange', // element
		data: {
			rmb: ''
		}
	});
</script>
<!-- 作业:实现随意切换币种,得出正确的换算结果 -->
